extends layout

block content
  .layui-container
    .layui-row
      .layui-col-xs12.layui-col-md12
        br
        h1 #{classId}班青年大学习截图收集——#{task.name}
        br
        hr.layui-bg-red
        .layui-elem-quote 
          p 如果这不是你的班级，可以尝试修改地址栏中的#{classId}
          p 或者，
            a(href="/" style="color:#FF5722") 返回主页
        br
        hr.layui-bg-red
    .layui-row.layui-col-space16 
      .layui-col-xs12.layui-col-md6
        form.layui-form(action='/upload', method='post', enctype='multipart/form-data')
          input(type='hidden',name="classId" value=classId)
          .layui-form-item
            label.layui-form-label 姓名：
            .layui-input-block
              input.layui-input(type="text" name="name" required  lay-verify="required" placeholder="务必输入真实姓名" autocomplete="off")
          .layui-form-item
            label.layui-form-label 信息界面：
            .layui-input-block
              input(type='file', name='info-img' required  lay-verify="required")
          .layui-form-item
            label.layui-form-label 完成界面：
            .layui-input-block
              input(type='file', name='finish-img' required  lay-verify="required")
          .layui-form-item
            .layui-input-block
              button.layui-btn 提交
        br
        br
        br
        br
        br
      .layui-col-xs12.layui-col-md6
        fieldset.layui-elem-field
          legend 关于提交后网页没有反应的说明
          .layui-field-box
            p 部分同学反应，点击提交后网页没有反应
            br
            p emmm 好吧，这个现象确实存在
            br
            p 因为服务器在国外，截图上传一般要3-5秒，在此期间，网页不会任何反馈
            br
            p 所以耐心等待即可，上传成功后会自动跳转
            br
            p 这个bug会在不久的将来修复，具体时间看心情 (′▽`〃)
            br
        br
        hr.layui-bg-red
        fieldset.layui-elem-field
          legend 有必要吐槽一下
          .layui-field-box
            p 昨天（2020.09.27）加入了新班级。
            br
            p 今天，网站出现了很多奇奇怪怪的名字。
            br
            p 这届网友好优秀啊。
            br
            p 因为我比较懒，除了那个id为【名字越长越牛逼】条目（因为id实在太特么长了，压缩包无法解压），和【111...111】（影响网页显示）外。
            br
            p 其他数据就不删了，留着，鞭尸。
            br
            p 网站的正常功能不受影响，就是团支书下载文件后要手动删除垃圾条目。
            br
        br
        hr.layui-bg-red
        fieldset.layui-elem-field
          legend 一些问答：
          .layui-field-box
            p 页面好捡漏啊
            p ——我，穷，请，打钱，谢谢。
            br
            p 我开多线程转页面会蹦吗？
            p ——会的，但是只要重启得够快，就没人知道我崩了
            br
            p 你好呀
            p ——本来挺好，现在没了
            br
            p 名字怎么不验证？
            p ——这。。我也没想到你们辣么优秀
            br
            p 你确定3-5秒就行了嘛
            p ——是的，我确定，但是晚上用网高峰以及人品不好的时候，网速会被拉低。
            br

  //- script.
  //-   layui.use('form', function(){
  //-   var form = layui.form;
    
  //-   //各种基于事件的操作，下面会有进一步介绍
  //-   });

